@import '../../mixins/slider';
@import '../../mixins/button';

.player-container {
  background-color: #282828;
  grid-area: player;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-top: 1px solid black;

  &__info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 57px;
      height: 57px;
      box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.3);
    }

    .music-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 15px;

      h3 {
        color: white;
        font-size: 14px;
        font-weight: 500;
      }

      span {
        color: #b3b3b3;
        font-size: 12px;
      }
    }

    .heart-icon {
      background: transparent;
      border: none;
      transform: scale(1.3);
      margin-left: 8px;

      &__full {
        color: #49ba55;

        &:hover {
          color: #1ed760;
        }

        &:active {
          color: #49ba55;
        }
      }

      &__empty {
        color: #b3b3b3;

        &:hover {
          color: white;
        }

        &:active {
          color: #b3b3b3;
        }
      }

      svg {
        vertical-align: middle;
      }
    }
  }

  &__controls {
    width: 40%;
    height: 100%;
    flex-grow: 0.55;
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .controls-buttons {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;

      button {
        @include button(1.6, 18px);

        &.icon-play {
          transform: scale(3.2);
          margin-bottom: 2px;

          &:hover {
            transform: scale(3.4);
          }

          &:active {
            transform: scale(3.2);
          }
        }
      }
    }

    .slider {
      width: 100%;
      max-width: 550px;
      display: flex;
      font-size: 12px;
      padding-bottom: 5px;

      .music-time {
        width: 40px;

        &:first-child {
          text-align: right;
        }
      }

      .rc-slider {
        width: 80%;
        margin: 0 10px;
        padding-top: 6px;

        @include slider();
      }
    }
  }

  &__extra {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #b3b3b3;

    button {
      @include button(1.5, 10px);
    }

    .slider {
      width: 84px;

      .rc-slider {
        @include slider();
      }
    }
  }
}