.App {
  height: 100%;
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 1fr 90px;
  grid-template-areas:
    'nav board'
    'player player';
  background-image: linear-gradient(to right bottom, rgb(50, 99, 103), rgb(0, 0, 0)),
    linear-gradient(transparent, rgb(0, 0, 0) 70%);
}